:root{
  --gold:#d4af37;
  --bg:#0a0a0a;
}

/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Manrope', sans-serif;
  font-weight:400;
  background:var(--bg);
  color:#fff;
  overflow-x:hidden;
}
/* GLOBAL CONTAINER FIX */
.container{
  max-width:1200px;
  margin:0 auto;
  width:100%;
  padding:0 20px;
}
h1,h2,h3,h4,
.gold-card h2,
.ux-hero h1,
.ux-card-body h3,
.ux-insight-content h2{
  font-family:'Noto Serif', serif;
}
button,
input,
select,
label,
.nav-center a,
.nav-right i{
  font-family:'Manrope', sans-serif;
}

section{
  padding:100px 80px;
}

h1,h2,h3,h4{
  margin-bottom:15px;
}

p{
  line-height:1.7;
  color:#9a9a9a;
  font-size:15px;
}

/* ================= NAVBAR ================= */
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:18px 40px;

  background: rgba(0,0,0,0.85);
  border-top: 1px solid rgba(212,175,55,0.2);
}


/* HAMBURGER ICON */
.menu-icon{
  display:none;
  cursor:pointer;
  font-size:20px;
  color:#fff;
}
.nav-wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width: 100%;
  /* padding: 18px 0; */
}

/* LOGO */
.logo{
  color: var(--gold);
  font-size:13px;
  letter-spacing:3px;
  font-weight:500;
}

/* CENTER MENU (FIXED ALIGNMENT) */
.nav-center{
  display: flex;
  align-items: center;
  gap: 30px; 
}



.nav-center a:hover{
  color: var(--gold);
}

/* RIGHT ICONS (FIXED) */
.nav-right{
  display: flex;
  align-items: center;
  gap: 18px; 
}

.nav-right i{
  font-size:16px;
  color:#ccc;
  cursor:pointer;
  transition:0.3s;
}

.nav-right i:hover{
  color:var(--gold);
  transform:scale(1.2);
  text-shadow:0 0 10px rgba(212,175,55,0.6);
}
.nav-center a{
  color:#ccc;
  text-decoration:none;
  font-size:13px;
  letter-spacing:0.8px;
  text-transform:uppercase;
  padding:6px 10px;
  border-radius:6px;
  position:relative;
  transition:0.3s;
}

/* underline animation */
.nav-center a::after{
  content:"";
  position:absolute;
  left:50%;
  bottom:-6px;
  width:0%;
  height:1px;
  background:var(--gold);
  transform:translateX(-50%);
  transition:0.3s;
}

.nav-center a:hover{
  color:var(--gold);
  letter-spacing:1px;
  background:rgba(212,175,55,0.1);
  text-shadow:0 0 8px rgba(212,175,55,0.6);
}

.nav-center a:hover::after{
  width:100%;
}
.nav-center a:hover{
  text-shadow:0 0 8px rgba(212,175,55,0.6);
}

.nav-center a{
  padding:6px 10px;
  border-radius:6px;
}

.nav-center a:hover{
  background:rgba(212,175,55,0.1);
}

/* ================= HERO ================= */
.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
   padding-top:80px;

  background:
    linear-gradient(to right, rgba(0,0,0,0.85), rgba(0,0,0,0.4)),
    url("../images/hero.png");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  ;
}

.hero-grid{
  display:grid;
  grid-template-columns:60% 40%;
  gap:40px;
  align-items:center;
  width:100%;
}
/* ================= HERO BOTTOM STRIP ================= */
.hero-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 18px 40px;

  background: rgba(0,0,0,0.85);
  border-top: 1px solid rgba(212,175,55,0.2);
}

/* ITEM */
.hb-item{
  display: flex;
  align-items: center;
  gap: 8px;

  color: #bbb;
  font-size: 13px;
}

/* ICON */
.hb-item i{
  color: #d4af37;
  font-size: 13px;
}

/* LEFT */
.badge{
  font-size:11px;
  letter-spacing:2px;
  color:var(--gold);
}

.hero-left h1{
  font-size: 60px;
  line-height:1.1;
  font-family:'Noto Serif', serif;
  font-weight:600;
  
}

.hero-left span{
  color:var(--gold);
}

/* BUTTON */
.btn{
  border:1px solid var(--gold);
  color:var(--gold);
  padding:14px 30px;
  font-size:13px;
  letter-spacing:1px;
  background:transparent;
  cursor:pointer;
  margin-top:20px;
}

.btn:hover{
  background:var(--gold);
  color:#000;
}

/* FORM */
.hero-form{
  width:100%;
  /*max-width:360px;*/
  max-width: 100%;
  padding:30px;
  background:rgba(15,15,15,0.75);
  backdrop-filter:blur(15px);
  border-radius:16px;
}

.hero-form label{
  font-size:12px;
  color:#888;
  margin-top:10px;
  display:block;
}

.hero-form input,
.hero-form select{
  width:100%;
  padding:10px;
  margin-top:5px;
  background:#111;
  border:1px solid #222;  
  
  border-radius:6px;
  font-size:13px;
  color:#fff;
}
.hero-form input:focus,
.hero-form select:focus{
  outline:none;
  border-color:var(--gold);
  box-shadow:0 0 8px rgba(212,175,55,0.4);
}

.hero-form button{
  margin-top:15px;
  width:100%;
  padding:12px;
  background:var(--gold);
  border:none;
  cursor:pointer;
}

/* ================= PROTOCOL ================= */
.protocol{
  text-align:center;
}



.card{
  background:#111;
  padding:30px;
  border-radius:12px;
  text-align:left;
  
}
/* CARD 1 SPLIT ONLY */
.card-1{
  padding:0;
  overflow:hidden;
  display:flex;
  min-height:220px;
}
@media (max-width:768px){
  .card-1{
    flex-direction:column;
  }

  .card-1 .image-side{
    height:200px;
  }
}

/* TEXT SIDE */
.card-1 .text-side{
  flex:1;
  padding:30px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* IMAGE SIDE */
.card-1 .image-side{
  flex:1;
}

.card-1 .image-side img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}
.protocol-grid{
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  gap:30px;
}






.card h4{
  font-family:'Noto Serif', serif;
  color:var(--gold);
  font-weight:600;
}

/* ================= STORY ================= */
.story{
  display:flex;
  align-items:stretch;   
  justify-content:space-between;
  padding:100px 10%;
  background:#0f0f0f;
  gap:40px;
  width: 100%;
}

/* BOTH SIDE = EXACT HALF */
.story-img,
.story-text{
  flex:1;
}

/* IMAGE */
.story-img img{
  width:100%;
  height:100%;
  min-height:420px;
  object-fit:cover;
  border-radius:15px;
  display:block;
}

/* TEXT BOX */
.story-text{
  display:flex;
  flex-direction:column;
  justify-content:center;

  padding:60px;
  background:#111;
  border-radius:15px;
}

/* TEXT STYLE */
.story-text h2{
  font-size:40px;
  color:var(--gold, #c9a86a);
  margin-bottom:15px;
}

.story-text p{
  font-size:16px;
  opacity:0.8;
  line-height:1.6;
}




/* IMAGE WRAPPER */
.story-img{
  position:relative;
  width:100%;
  /*height:400px;*/
  aspect-ratio: 16/10;
  border-radius:15px;
  overflow:hidden;
}

/* IMAGE */
.story-img img{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
  transition:0.4s;
}

/* BOTTOM OVERLAY */
.story-overlay{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:30px;
  color:#fff;
  background:linear-gradient(to top, rgba(0,0,0,0.85), transparent);
}

/* TEXT */
.story-overlay h2{
  margin:0;
  font-size:28px;
}

.story-overlay p{
  margin-top:8px;
  font-size:14px;
  opacity:0.85;
}

/* HOVER EFFECT */
.story-img:hover img{
  transform:scale(1.05);
}



/* ================= CTA ================= */
.cta{
  text-align:center;
}

.cta p{
  max-width:600px;
  margin:20px auto;
}


.cta-btn{
  background:var(--gold);
  color:#000;
  padding:14px 30px;
  border:none;
  border-radius:30px;
  cursor:pointer;

  display:block;
  margin:20px auto 10px auto;

  position:relative;
  overflow:hidden;
  transition:0.3s;
}

/* lift effect */
.cta-btn:hover{
  transform:translateY(-3px) scale(1.03);
  box-shadow:0 10px 25px rgba(212,175,55,0.5);
}

/* click press */
.cta-btn:active{
  transform:scale(0.97);
}

/* shine effect */
.cta-btn::before{
  content:"";
  position:absolute;
  top:0;
  left:-120%;
  width:60%;
  height:100%;
  background:linear-gradient(120deg, transparent, rgba(255,255,255,0.6), transparent);
  transform:skewX(-20deg);
}

/* animate shine */
.cta-btn:hover::before{
  animation:shine 0.8s ease;
}

@keyframes shine{
  0%{ left:-120%; }
  100%{ left:120%; }
}
.cta-btn{
  animation:pulse 2s infinite;
}



.cta span{
  display:block;
  text-align:center;
  opacity:0.7;
  font-size:14px;
}

/* ================= GRAND ================= */
.story-wrapper{
  display:flex;
  gap:40px;
  align-items:stretch;
}

/* LEFT IMAGE */
/*

.story-img img{
  width:100%;
  height:100%;
  object-fit:cover;
}*/

/* OVERLAY */
.story-overlay{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:30px;
  color:#fff;
  background:linear-gradient(to top, rgba(0,0,0,0.85), transparent);
}

.story-overlay h2{
  margin:0;
  font-size:26px;
}

.story-overlay p{
  margin:8px 0 15px;
  font-size:14px;
  opacity:0.85;
}

/* BUTTON */


/* RIGHT SIDE */
.story-right{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.story-right h3{
  color:var(--gold);
  font-size:24px;
  margin-bottom:10px;
}

.story-right p{
  color:#fff;
  opacity:0.8;
  line-height:1.6;
  margin-bottom:20px;
}

/* LIST */
.story-right ul{
  list-style:none;
  padding:0;
}

.story-right ul li{
  color:#fff;
  opacity:0.8;
  margin-bottom:10px;
  position:relative;
  padding-left:18px;
}

.story-right ul li::before{
  content:"•";
  color:var(--gold);
  position:absolute;
  left:0;
}


.grand-union{
  position:relative;
  width:100%;
  height:100vh;
  overflow:hidden;
}

/* FULL BACKGROUND IMAGE */
.grand-img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:1;
}

/* DARK OVERLAY */
.grand-overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:2;
}

/* CONTENT ON TOP */
.grand-content{
  position:relative;
  z-index:3;

  display:flex;
  justify-content:space-between;
  align-items:center;

  height:100%;
  padding:0 10%;
  color:#fff;
}

/* LEFT TEXT */
.left{
  max-width:500px;
}

.left .tag{
  font-size:12px;
  letter-spacing:2px;
  opacity:0.7;
}

.left h2{
  font-size:36px;
  margin:15px 0;
  color:#ffffff;
  letter-spacing:1px;
  font-weight:500;
}

.left .desc{
  font-size:16px;
  opacity:0.8;
  line-height:1.6;
}

/* RIGHT TEXT */
.right h3{
  color: var(--gold);
  margin: 0;
}

.right p{
  color: #fff;
  margin: 5px 0 0;
  font-size: 13px;
  opacity: 0.8;
}   

/* ================= FOOTER ================= */
.footer{
  background:
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.95)),
    url("../images/image1.png");

  background-size:cover;
  background-position:center;

  padding:80px;
}

.footer-container{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:40px;
}

.footer h3,
.footer h4{
  color:var(--gold);
}

.footer ul{
  list-style:none;
}

.footer ul li{
  margin-bottom:10px;
}

.footer-bottom{
  text-align:center;
  margin-top:40px;
  font-size:12px;
  color:#777;
}
.footer ul li{
  position:relative;
  cursor:pointer;
  transition:0.3s;
}

/* slide + color */
.footer ul li:hover{
  color:var(--gold);
  transform:translateX(5px);
}

/* underline animation */
.footer ul li::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-2px;
  width:0%;
  height:1px;
  background:var(--gold);
  transition:0.3s;
}

.footer ul li:hover::after{
  width:100%;
}
.footer h3,
.footer h4{
  transition:0.3s;
}

.footer h3:hover,
.footer h4:hover{
  text-shadow:0 0 10px rgba(212,175,55,0.6);
}
.footer-container > div{
  transition:0.3s;
  padding:10px;
  border-radius:8px;
}

.footer-container > div:hover{
  background:rgba(255,255,255,0.03);
  transform:translateY(-5px);
}
.footer i{
  transition:0.3s;
}

.footer i:hover{
  color:var(--gold);
  transform:scale(1.2);
}
.footer-bottom{
  transition:0.3s;
}

.footer-bottom:hover{
  color:var(--gold);
  letter-spacing:1px;
}




/* ================= RESPONSIVE ================= */

/* GLOBAL */
@media (max-width:1024px){
  section{
    padding:80px 5%;
  }
}

@media (max-width:768px){
  section{
    padding:60px 5%;
  }
}

/* HIDE CHECKBOX */
@media (max-width:768px){

  .menu-icon{
    display:block;
    font-size:22px;
    cursor:pointer;
  }

  .nav-center{
    position:absolute;
    top:70px;
    left:0;
    width:100%;

    background:rgba(0,0,0,0.85);   /* softer */
    backdrop-filter:blur(10px);

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    padding:20px 0;

    border-top:1px solid rgba(212,175,55,0.2);

    transform:translateY(-20px);
    opacity:0;
    pointer-events:none;

    transition:0.3s ease;
  }

  /* SHOW MENU */
  #menu-toggle:checked ~ .nav-center{
    transform:translateY(0);
    opacity:1;
    pointer-events:auto;
  }

}


/* HERO */
@media (max-width:768px){
  .hero{
    height:auto;
    padding:120px 5% 60px;
     background-position:center top;
    background-size:cover;
     padding-top:100px;
  }

  .hero-grid{
    grid-template-columns:1fr;
    text-align:center;
  }

  .hero-left h1{
    font-size:clamp(28px, 6vw, 42px);
    line-height:1.3;
  }

  .hero-form{
    margin:20px auto 0;
  }

  .hero-bottom{
    flex-direction:column;
    gap:10px;
    padding:15px;
      position:relative;
    margin-top:20px;
  }
}

/* PROTOCOL */
@media (max-width:768px){
  .protocol-grid{
    grid-template-columns:1fr;
  }

  .card-3{
    transform:none;
  }
}

/* STORY */
@media (max-width:768px){
  .story{
    flex-direction:column;
    padding:60px 5%;
  }

  .story-img{
    height:auto;
    aspect-ratio:16/10;
  }

  .story-text{
    padding:30px;
  }
}

/* GRAND */
@media (max-width:768px){
  .grand-content{
    flex-direction:column;
    text-align:center;
    gap:30px;
    padding:0 5%;
  }

  .left h2{
    font-size:28px;
  }
}

/* CTA */
@media (max-width:768px){
  .cta-btn{
    width:100%;
    max-width:280px;
  }
}

/* FOOTER */
@media (max-width:768px){
  .footer{
    padding:60px 20px;
  }

  .footer-container{
    grid-template-columns:1fr;
    text-align:center;
  }
}
